@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color:var(--background-primary);
}

:root {
    --background-primary: #ECF0F3;
}

html {
    scroll-behavior: smooth;
}

span {
    color: #ff014f;
}

.blue {
    color: blue;
    font-weight: 500;
}

.hrLine {
    width: 1230px;
    margin: auto;
    border-bottom: 1px solid rgb(201, 199, 199);
    margin-top: 120px;
}

.button {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #ff014f;
    font-size: 13px;
    font-weight: 500; 
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

.button:hover {
    background: linear-gradient(145deg, #6a67ce, #fc636b);
    color: #fff;
    transition: all 0.4s ease-in-out 0s;
}

#navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--background-primary);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

.mainChild {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.mainChild > .logo {
    display: flex;
    align-items: center;
}

.mainChild > .logo > a > img {
    width: 160px;
}

.mainChild > .headerMenu > ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.headerMenu > ul > li {
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
}

ul > li > a {
    color: #000;
    font-weight: 300;
}

ul > li > a:hover {
    color: red;
}


/* hero section */

#heroSection {
    width: 1230px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    gap: 4%;
}

.heroSectionTextArea {
    width: 58%;
    padding-top: 125px;
}

.heroSectionPoster {
    width: 38%;
    display: flex;
}

.h1 {
    color: #1e2125;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 8px;
    margin-top: 18px;
}

.subTitle {
    width: 240px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

.extra {
    letter-spacing: 2px;
}

.professionText {
    margin-bottom: 22px;
}

.discription {
    color: #3c3e41;
    font-size: 16px;
    line-height: 30px;
    padding-right: 15%;
    text-align: justify;
}

.socialMedia {
    width: 100%;
    display: flex;
    gap: 60px;
    padding-top: 125px;
}

.socialMediaContent > p {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;

}
.socialMediaContent > .sM{
    display: flex;
    gap: 20px;
}

.socialMediaContent > ul > li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 5px 10px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 7px;
}

.sM > li > a > img {
    width: 40px;
}


.thumbnail {
    height: 479px;
    margin-top: 163px;
    background: linear-gradient(140deg, #ffffff, #e2e8ec);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10px;
    position: absolute;
}

.thumbnail_img {
    position: relative;
}

.thumbnail_img > img {
    width: 100%;
}


/* About us */
#about {
    width: 1230px;
    margin: auto;
    padding-top: 120px;
}
.aboutClass {
    padding: 20px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10px;
}


.one, .three {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.photo {
    width: 30%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo > img {
    width: 98%;
    border-radius: 30px;
}

.selfSummary {
    width: 68%;
}

.selfSummaryText {
    display: flex;
    align-items: center;
}

.selfSummaryText > h1 {
    font-size: 45px;
}

.selfSummaryText > img {
    height: 45px;
}

.aboutMe {
    background: linear-gradient(145deg, #ffffff, #e2e8ec);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 20px;
    padding-left: 40px;
    border-radius: 10px;
}

.aboutMe > h2{
    font-size: 35px;
}

.two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.experienceBox, .EducationBox {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    width: 49%;
    gap: 40px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

.contact {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.sM2 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sM2 > a > img {
    height: 35px;
}

.textContact {
    display: flex;
}

.position, .mail {
    margin: 10px;
}

.contactMiddle {
    width: 53%;
    background: linear-gradient(145deg, #ffffff, #e2e8ec);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 20px;
    border-radius: 10px;
}


/* skills page */

#skillsPage {
    width: 1230px;
    margin: auto;
    padding-top: 120px;
}

.skillsHeader {
    display: flex;
    padding-left: 10px;
    margin-bottom: 20px;
}

.skillsHeader > h1 {
    font-size: 45px;
    text-transform: uppercase;
}

.skillsHeader > img {
    width: 80px;
}

.skillsSlogan {
    margin-bottom: 5px;
}

.skillsTab {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.icons {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.icons > h3 {
    text-align: center;
}

.icons > img {
    width: 180px;
}

.radius > img {
    border-radius: 5px;
}


/* projects */

#projects {
    width: 1230px;
    margin: auto;
    padding-top: 120px;
}

.projectsDiv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.projectsDiv > .items {
    width: 100%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.items > img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.items > .jrb4 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    align-items: center;
}

.items > .jrb4 > .techstack {
    display: flex;
}

.items > .jrb4 > .techstack > img{
    height: 30px;
}

.items > .jrb4 + p {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}

.bulletPoint {
    list-style: none;
    text-align: left;
    font-size: 15px;
    color: black;
    margin: 10px 0 10px 0;
}

.buttonArea {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttonArea > a > button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonArea > a > button > img {
    height: 30px;
}

#contact {
    width: 1230px;
    margin: auto;
    padding-top: 120px;
}

.contactMain {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    gap: 50px;
}

#contactImg > img {
    border-radius: 10px;
}